Abbyy.AnalysisService.Test/Service References/AnalysisService/AnalysisService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://abbyy.com/AnalysisService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AnalysisService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Abbyy.AnalysisService.WSBinding_IAnalysisService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://abbyy.com/AnalysisService" location="http://localhost:8002/AnalysisService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="Abbyy.AnalysisService.WSBinding_IAnalysisService" type="i0:IAnalysisService">
    <wsp:PolicyReference URI="#Abbyy.AnalysisService.WSBinding_IAnalysisService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Languages">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/Languages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkupLanguages">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/MarkupLanguages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlParameters">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/XmlParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Extensions">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/Extensions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAuthorizationNecessary">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/IsAuthorizationNecessary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTask">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/CreateTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessTask">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/ProcessTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelProcessingTask">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/CancelProcessingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/DeleteTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTaskSource">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/SetTaskSource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTaskParams">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/SetTaskParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskState">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/GetTaskState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskResult">
      <soap12:operation soapAction="http://abbyy.com/AnalysisService/IAnalysisService/GetTaskResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnalysisService">
    <wsdl:port name="Abbyy.AnalysisService.WSBinding_IAnalysisService" binding="tns:Abbyy.AnalysisService.WSBinding_IAnalysisService">
      <soap12:address location="http://localhost:8002/AnalysisService.svc/soap" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8002/AnalysisService.svc/soap</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>